<h2>{{ todo.name }}</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti unde ducimus voluptatum ipsum vel maxime aut recusandae facilis perferendis deserunt!</p>
<a href="/todos/{{ todo._id }}/edit">edit</a>
<a href="/todos">back</a>